{%- if block.settings.heading != blank -%}
  <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
{%- endif -%}
<ul class="footer-block__details-content list-unstyled">
  {%- for link in block.settings.menu.links -%}
    <li>
      <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
        {{ link.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>