
<link href="{{ 'page-styleguide.css' | asset_url }}" type="text/css" media="all" rel="stylesheet">

<div class="styleguide-template">
  <div class=" header-styleguide">
    <section class="section-header-styleguide">
      <div class="row">
        <div class="col-6" >
          <a href="#" class="logo-styleguide no-effect">
            <img src="https://cdn.shopify.com/s/files/1/0569/3679/2221/files/Cecile_logo.png?v=1623120085" width="135" height="26" loading="lazy"  title="logo-cecile" alt="{{ shop.name }}">
          </a>
        </div>
        <div class="col-6" >
          <h3 class="title-header">UI Style Guide</h3>
        </div>
      </div>
    </section>
  </div>
    <div class="container-fluid">
      <section class="colours-wrapper">
        <h2 class="section-title">Colors</h2>
        <div class="row colour">
          <div class="col-12 col-md-4 item">
            <div class="title">
              <h4 class="block-title">primary colors</h4>
            </div>
            <div class="colour-item color-1"><p class="title-color-2">#FFEC42</p></div>
            <div class="colour-item color-2"><p class="title-color-2">#FADB14</p></div>
          </div>
          <div class="col-12 col-md-4 item">
            <div class="title">
              <h4 class="block-title">neutral colors</h4>
            </div>
            <div class="colour-item color-3"><p class="title-color-1">#262626</p></div>
            <div class="colour-item color-4"><p class="title-color-1">#595959</p></div>
            <div class="colour-item color-5"><p class="title-color-1">#8C8C8C</p></div>
            <div class="colour-item color-6"><p class="title-color-1">#BFBFBF</p></div>
            <div class="colour-item color-7"><p class="title-color-2">#D9D9D9</p></div>
            <div class="colour-item color-8"><p class="title-color-2">#E8E8E8</p></div>
            <div class="colour-item color-9"><p class="title-color-2">#F5F5F5</p></div>
            <div class="colour-item color-10"><p class="title-color-2">#FAFAFA</p></div>
            <div class="colour-item color-11"><p class="title-color-2">#FFFFFF</p></div>
          </div>
          <div class="col-12 col-md-4 item">
            <div class="title">
              <h4 class="block-title">semantic colors</h4>
            </div>
            <div class="colour-item color-12"><p class="title-color-1">#0084F4</p></div>
            <div class="colour-item color-13"><p class="title-color-1">#66B5F8</p></div>
            <div class="colour-item color-14"><p class="title-color-1">#D5E9FA</p></div>
            <div class="colour-item color-15"><p class="title-color-1">#00C48C</p></div>
            <div class="colour-item color-16"><p class="title-color-1">#CDE7D8</p></div>
            <div class="colour-item color-17"><p class="title-color-1">#AD8B00</p></div>
            <div class="colour-item color-18"><p class="title-color-1">#D4B106</p></div>
            <div class="colour-item color-19"><p class="title-color-1">#C22C2C</p></div>
            <div class="colour-item color-20"><p class="title-color-1">#FFB8C9</p></div>
            <div class="colour-item color-21"><p class="title-color-1">#FFDBC5</p></div>
          </div>
        </div>
      </section>
      <section class="typo">
        <h2 class="section-title">Typography</h2>
        <h4 class="block-title">Cormorant Infant & Poppins</h4>
        <div class="table">
            <div class="tr typo-1">
              <div class="td position-style-1">
                <span class="heading-1 typo-title">Heading 1</span>
                <p class="sub-text">Cormorant Infant 50px/ L55px</p>
              </div>
              <div class="td position-style-2">
                <span class="btn-title typo-title">Button 1</span>
                <p class="sub-text">Poppins Regular 16px/ L24px</p>
              </div>
              <div class="td position-style-3">
                <span class="title-1 typo-title">Body 1</span>
                <p class="sub-text">Poppins Regular 18px/ L26px</p>
              </div>
            </div>
            <div class="tr typo-2">
              <div class="td position-style-4">
                <span class="heading-2 typo-title">Heading 2</span>
                <p class="sub-text">Poppins Regular 40px/ L46px</p>
              </div>
              <div class="td position-style-5">
                <span class="btn-title-2 typo-title">Button 2</span>
                <p class="sub-text">Poppins Regular 14px/ L22px  </p>
              </div>
              <div class="td position-style-6">
                <span class="title-2 typo-title">Body 2</span>
                <p class="sub-text">Poppins Regular 16px/ L24px</p>
              </div>
            </div>
            <div class="tr typo-3">
              <div class="td position-style-7">
                <h3 class="heading-3 typo-title">Heading 3</h3>
                <p class="sub-text">Poppins Regular 24px/ L28px</p>
              </div>
              <div class="td position-style-8">
                <span class="small-text-2 typo-title">Small Text 1</span>
                <p class="sub-text">Poppins Regular 12px/ L20px</p>
              </div>
              <div class="td position-style-9">
                <span class="small-text typo-title">Small text 2</span>
                <p class="sub-text">Poppins Regular 14px/ L22px</p>
              </div>
            </div>
            <div class="tr typo-4">
              <div class="td position-style-10">
                <h4 class="heading-4 typo-title">Heading 4</h4>
                <p class="sub-text">Poppins Regular 20px/ L28px</p>
              </div>
              <div class="td position-style-11">
                <span class="small-text-3 typo-title">Small text 3</span>
                <p class="sub-text">Poppins Regular 10px/ L16px</p>
              </div>
              <div class="td">
              </div>
            </div>
        </div>
      </section>
      <section class="component">
        <h2 class="section-title">Components</h2>
        <div class="button-element-wrapper">
          <div class="row">
            <div class="col-md-6 col-12 button-primary">
                <div class="sub-title">
                  <h4 class="block-title">Button Colours:</h4>
                </div>
                <div class="input-wrapper button-color">
                  <a href="#" class="btn">PRIMARY</a>
                  <a href="#" class="btn-2">SECONDARY</a>
                  <a href="#" class="btn" disabled>DISABLED</a>
                  <a href="#" class="btn active">PRIMARY HOVER</a>
                  <a href="#" class="btn-2 active">SECONDARY HOVER</a>
                </div>
                <div>
                  <div class="icon-wrapper">
                  <span class="product-icon icon-eye1"></span>
                  <span class="product-icon icon-compare"></span>
                  </div>
                  <div class="icon-wrapper">
                    <span href="#" class="icon-cart icon-mini-hover no-effect"></span>
                    <span href="#" class="icon-cart icon-mini-hover no-effect active"></span>
                  </div>
                </div>
                <div class="sub-title">
                  <h4 class="block-title">TAG:</h4>
                </div>
                <div class="tag-wrapper">
                  <span class="product-tag tag-sale">sale</span>
                  <span class="product-tag tag-hot">hot</span>
                  <span class="product-tag tag-new">new</span>
                  <span class="tag-sub-hot">Hot</span>
                </div>
            </div>
            <div class="col-md-6 col-12 button-size-wrapper">
                <div class="sub-title">
                  <h4 class="block-title">Button Size:</h4>
                </div>
                <div class="input-wrapper button-size">
                  <a href="#" class="btn btn-default">H=60</a>
                  <a href="#" class="btn btn-big-medium">H=58</a>
                  <a href="#" class="btn btn-medium">H=52</a>
                  <a href="#" class="btn btn-small">H=42</a>
                  <a href="#" class="btn btn-mini">H=38</a>
                </div>
                <div class="textlink">
                <div class="sub-title">
                  <h4 class="block-title">Text link</h4>
                </div>
                <div class="table">
                  <div class="tr">
                    <div class="td">
                      <p class="title-link-text">text only</p>
                      <div class="text-wrapper">
                        <a href="#" class="text-link  text-underlined hover text-only-textlink">Text Link Hover</a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined text-only-textlink">Text Link Standard</a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined text-layout-2 text-only-textlink disable">Text Link Disable</a>
                      </div>
                    </div> 
                    <div class="td">
                      <p class="title-link-text">icon right</p>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined hover">Text Link Hover<i class="right-icon icon-arrow-circle-right"></i></a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined">Text Link Standard<i class="right-icon icon-arrow-circle-right"></i></a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined text-layout-2 disable">Text Link Disable<i class="right-icon icon-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <div class="td">
                      <p class="title-link-text text-link-down">icon left</p>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined hover"><i class="left-icon icon-arrow-circle-right"></i>Text Link Hover</a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined"><i class="left-icon icon-arrow-circle-right"></i>Text Link Standard</a>
                      </div>
                      <div class="text-wrapper">
                        <a href="#" class="text-link text-underlined text-layout-2 disable"><i class="left-icon icon-arrow-circle-right"></i>Text Link Disable</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <h4 class="block-title wrapper-tab">Filter & Tab Elements</h4>
              <div class="tab-menu">
                <ul class="nav nav-tabs tab-style-1">
                  <li class="active"><a class="tab-style no-effect" href="#">ACTIVE</a></li>
                  <li><a class="tab-style no-effect" href="#">INACTIVE</a></li>
                  <li><a class="tab-style no-effect" href="#">INACTIVE</a></li>
                </ul>
              </div> 
            </div>
            <div class="col-lg-2 col-md-4 col-12">
              <h4 class="block-title btn-title sub-title-2">Checkboxes</h4>
              <div class="checkbox-radio">
                <div class="checkbox">
                  <label class="checkbox-custom" for="checkbox-default">
                    <input type="checkbox" id="checkbox-default">
                    <span class="checkmark">
                  </span></label>
                  <label class="checkbox-custom checkbox-checked" for="checkbox-checked">
                    <input type="checkbox" id="checkbox-checked">
                    <span class="checkmark">
                  </span></label>
                  <label class="checkbox-custom checkbox-hover" for="checkbox-hover">
                    <input type="checkbox" id="checkbox-hover">
                    <span class="checkmark">
                  </span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 radio-button-wrapper">
                <h4 class="block-title btn-title sub-title-2">Radio button</h4>
              <div class="radio">
                <label class="radio-custom" for="radio-default">
                  <input type="radio" id="radio-default" value="a" name="a">
                  <span class="checkmark">
                  </span>
                </label>
                <label class="radio-custom radio-checked" for="radio-checked">
                  <input type="radio" id="radio-checked" value="b" name="b">
                  <span class="checkmark">
                  </span>
                </label>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 selector-wrapper">
              <h4 class="block-title btn-title sub-title-2">Selector</h4>
              <div class="selector">
                <label class="selector-custom" for="selector-default">
                  <input type="checkbox" id="selector-default">
                  <span class="checkmark">
                  </span>
                </label>
                <label class="selector-custom selector-checked" for="selector-checked">
                  <input type="checkbox" id="selector-checked">
                  <span class="checkmark">
                  </span>
                </label>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-12 tags-wrapper">
                <h4 class="block-title btn-title sub-title-2">Tags</h4>
               <div>
                <div class="tag tag-style-1">
                  Tags
                </div>
                <div class="tag">
                  Tags
                </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-9 col-12 stepper-control stepper-control-wrapper">
                <h4 class="block-title btn-title sub-title-2">Stepper Control</h4>
                <div class="slider-counter">
                    <button type="button" class="pagination__item pagination__item--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}"><span class="icon-arrow-left"></span></button>
                    <button type="button" class="pagination__item pagination__item--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}"><span class="icon-arrow-right"></span></button>
                    <ul class="pagination-container type-dots" style="" role="tablist">
                      <span class="number-start">01</span>
                      <li role="presentation" class="slick-active">
                        <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="-1">1</button>
                      </li>
                      <li role="presentation" >
                        <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button>
                      </li>
                      <li role="presentation" class="">
                        <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li>
                      <span class="number-end">03</span>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-12 pagination-page">
                <h4 class="block-title btn-title sub-title-2">Paginations page</h4>
                <div class="input-wrapper">
                  <div class="pagination-content type-number style-1">
                    <ul class="pagination-custom">
                      <li class="pagination-nav"><a class="pagination-prev" href="#"></a></li>
                      <li class="pagination-change active"><a href="#"><span>1</span></a></li>
                      <li class="pagination-change"><a href="#"><span>2</span></a></li>
                      <li class="pagination-change"><a href="#">...</a></li>
                      <li class="pagination-change"><a href="#"><span>12</span></a></li>
                      <li class="pagination-change"><a href="#"><span>13</span></a></li>
                      <li class="pagination-nav"><a class="pagination-next"href="#"></a></li>
                    </ul>
                  </div>
                  <div class="pagination-content type-number style-2">
                      <ul class="pagination-custom">
                        <li class="pagination-nav pagination-prev-position disable"><a class="pagination-prev disable" href="#"><span>Previous</span></a></li>
                        <li class="pagination-change active"><a href="#"><span>1</span></a></li>
                        <li class="pagination-change "><a href="#"><span>2</span></a></li>
                        <li class="pagination-nav pagination-next-position"><a class="pagination-next" href="#"><span>Next</span></a></li>
                      </ul>
                  </div>
                  <div class="pagination-content type-number style-3">
                    <ul class="pagination-custom">
                      <li class="pagination-nav"><a class="pagination-prev" href="#"></a></li>
                      <li class="pagination-change active"><a href="#"><span>1</span></a></li>
                      <li class="pagination-change"><a href="#"><span>2</span></a></li>
                      <li class="pagination-change"><a href="#"><span>3</span></a></li>
                      <li class="pagination-nav"><a class="pagination-next"href="#"></a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 pagination-dots">
                <h4 class="block-title btn-title sub-title-2">Pagination dots</h4>
                <div class="slick-slider">
                  <div class="slider-dots">
                    <button type="button" name="dot" class="dotslide active"></button>
                    <button type="button" name="dot" class="dotslide"></button>
                    <button type="button" name="dot" class="dotslide"></button>
                    <button type="button" name="dot" class="dotslide"></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 badges" >
                <h4 class="block-title btn-title sub-title-2">Badges</h4>
                <div class="input-wrapper">
                  <div class="badge badge-item style-1">8</div>
                  <div class="badge badge-item style-2"></div>
                  <div class="badge badge-item style-3">4</div>
                  <div class="badge badge-item style-4"></div>
                </div>
            </div>
            <div class="col-md-4 col-12 divider">
                <h4 class="divider block-title btn-title sub-title-2">Divider</h4>
            </div>
            <div class="col-md-5 col-12">
              <div class="alerts">
                <h4 class="block-title btn-title sub-title-2">Alerts</h4>
                <div class="form-message form-message--success" id="ResetSuccess" tabindex="-1">Success message</div>
                <div class="form-message form-message--error">
                  <ul>
                    <li><a href="#RegisterForm-email" class="form-message__link">Notification text</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12 loading-wrapper">
              <h4 class="block-title btn-title sub-title-2">Loading</h4>
              <div class="loading">Loading</div>
            </div>
            <div class="col-12">
              <div class="tooltip-wrapper">
                <h4 class="block-title">Tooltip</h4>
                <div><span class="tooltip style-3" title="Quick view"></span></div>
                <div><span class="tooltip style-4" title="Quick view"></span></div>
                <div><span class="tooltip style-2" title="Quick view"></span></div>
                <div><span class="tooltip style-1" title="Quick view"></span></div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <section class="form-field">
        <h2 class="section-title">Input & Dropdown Forms</h2>
        <div class="row input-settings-wrapper">
            <div class="col-md-3 col-12 input-settings">
                <label class="sub-title" for="input-default">
                    <h4 class="block-title">Default</h4>
                </label>
                <div class="input-wrapper">
                  <div class="field-wrapper">
                     <label for="placeholder">Placeholder</label>
                     <input type="text" name="placeholder" value="" id="placeholder" class="text-field-input">
                  </div>  
                  <div class="field-wrapper">
                     <label for="active">Active</label>
                     <input type="text" name="active" value="" id="active" class="text-field-input">
                  </div>
                  <div class="field-wrapper focused">
                     <label for="typing">Typing</label>
                     <input type="text" name="typing" value="Typing" id="typing" class="text-field-input">
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-12 input-settings">
              <label class="sub-title" for="input-password"><h4 class="block-title">Password</h4></label>
              <div class="input-wrapper">
                  <div class="field-wrapper">
                      <label for="Password1">Password</label>
                      <input type="password" name="Password1" id="Password1" class="text-field-input">
                      <span data-toggle="#input-password2" id="password-eye2" class="password-eye icon-eye1">
                  </div>
                  <div class="field-wrapper focused">
                      <label for="Password2">Password</label>
                      <input type="password" name="Password2" value="abcdef" id="Password2" class="text-field-input">
                      <span data-toggle="#input-password" id="password-eye" class="password-eye icon-eye1">
                  </div>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-12 input-settings">
              <label class="sub-title" for="input-password"><h4 class="block-title">Left icon</h4></label>
              <div class="input-wrapper">
                  <div class="field-wrapper left-icon">
                      <label for="lefticon">Placeholder</label>
                      <input type="text" name="lefticon1" id="lefticon" class="text-field-input">
                      <span class="icon-left icon-pin1">
                  </div>
                  <div class="field-wrapper left-icon">
                    <label for="lefticon1">Active</label>
                    <input type="text" name="lefticon2" id="lefticon1" class="text-field-input">
                    <span class="icon-left icon-pin1">
                </div>
                  <div class="field-wrapper left-icon focused">
                      <label for="lefticon2">Typing</label>
                      <input type="text" name="lefticon3" id="lefticon2" value="Typing " class="text-field-input">
                      <span class="icon-left icon-pin1">
                  </div>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-12 input-settings">
              <div class="sub-title"><h4 class="block-title">Dropdown</h4></div>
              <div class="input-wrapper">
                <div class="field-wrapper focused">
                  <label for="select2">Selected</label>
                  <select id="select2" name="select">
                    <option value="dropdown">Select</option>
                    <option value="item1">Item 1</option>
                    <option value="item2">Item 2</option>
                    <option value="item3">Item 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
      <div class="row list-search">
        <div class="tab-list col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h4 class="block-title list-title">List</h4>
          <ul class="list">
            <li>
              <div class="list-wrapper">
                <p class="list-title">Tremblant in canada</p>
                <p class="list-content">
                   Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation.
                </p>
              </div>
            </li>
            <li>
              <div class="list-wrapper">
                <p class="list-title">Tremblant in canada</p>
                <p class="list-content">
                   Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation.
                </p>
              </div>
            </li>
            <li>
                <div class="list-wrapper">
                  <p class="list-title">Tremblant in canada</p>
                  <p class="list-content">
                    Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation.
                  </p>
                </div>
            </li>
          </ul>
          <ol class="list">
            <li>
              <div class="list-wrapper">
                <p class="list-title">Tremblant in canada</p>
                <p class="list-content">
                  Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation.
                </p>
              </div>
            </li>
            <li>
              <div class="list-wrapper">
                <p class="list-title">Tremblant in canada</p>
                <p class="list-content">
                  Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation.
                </p>
              </div>
            </li>
          </ol>
        </div>
  
        <div class="search-bar col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="title search-bar-title">
            <h4 class="block-title">search bar</h4>
          </div>
          <form action="#" class="search-form" method="get">
            <input name="type" type="hidden" value="">
            <input aria-label="Enter a city or landmark..."
              class="search-header__input search__input search__input-bigger" id="header-search" name="search-bar"
              placeholder="Enter a city or landmark..." type="search">
              <span class="search-close icon-error" style="display: inline;"></span>
              <span class="search-submit-btn btn-bigger">
              <span class="icon-search search-icon-bigger"></span>
            </span>
           
          </form>
          <form action="#" class="header-search-form search-form" method="get">
            <input name="type" type="hidden" value="">
            <input aria-label="Enter a city or landmark..." class="search-header__input search__input" id="header-search"
              name="search-bar" placeholder="Enter a city or landmark..." type="search">
              <span class="search-close icon-error" style="display: inline;"></span>
            <span class="search-submit-btn">
              <span class="icon-search"></span>
            </span>
          </form>
        </div>
      </div>
      </section> 
  
      <section class="image-size">
        <h2 class="section-title">Image Size</h2>
        <h4 class="block-title">Grid Style 1</h4>
        <div class="row size-image">
          <div class="picture-frames image-1 ">
            <img
              srcset="https://cdn.shopify.com/s/files/1/0569/3679/2221/files/placeholder1.png?v=1621933047"
              loading="lazy" 
            >
          </div>
          <div class="picture-frames image-2 ">
            <img
              srcset="https://cdn.shopify.com/s/files/1/0569/3679/2221/files/placeholder2.png?v=1621933047"
              loading="lazy" 
            >
          </div>
          <div class="picture-frames image-3 ">
            <img
              srcset="https://cdn.shopify.com/s/files/1/0569/3679/2221/files/placeholder3.png?v=1621933047"
              loading="lazy" 
            >
          </div>
        </div>
      </section>
    </div>
  </div>
  {% schema %}
{
  "name": "Styleguide",
  "tag": "section",
  "class": "styleguide-section"
}
{% endschema %}
  