.placeholder-svg{
  border: 1px solid var(--color-borders);
}
.content-wrapper{
  padding-top: 20px;
  word-break: break-word;
}
.article-card__header{
  margin-bottom: 12px;
}
.blog-articles__article{
  padding-bottom: 52px;
}
.article-card__header .date{
  margin-right: 20px;
  text-transform: unset;
  font-weight: 400;
}
.article-card__header .article__comment{
  text-transform: unset;
  font-weight: 400;
}
.article__comment i{
  margin-right: 10px;
}
.article-card__title{
  font-size: 16px;
  line-height: 24px;
}
.caption-with-letter-spacing{
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.article-card__excerpt{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.article-card__link{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}
.blog-articles:not(.blog-articles--grid) .article-card__image img{
  height: auto;
  object-fit: contain;
}
@media (max-width: 767px) {
  .article-card__image > img{
    object-fit: cover;
    object-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .article-card__image{
    padding-bottom: 100%;
    position: relative;
  }
}
@media (min-width: 1025px) {
  .article-card__title{
    font-size: 30px;
    line-height: 40px;
  }
  .caption-with-letter-spacing,
  .article-card__excerpt{
    font-size: 16px;
  }
}