.card__content {
  margin: 0;
}

.caption-with-letter-spacing {
  font-size: 13px;
  line-height: 18px;
  color: var(--color-text);
}

.template-search__search .search__input.field__input {
  padding: 0 17px;
  max-width: calc(100% - 122px);
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.field {
  position: relative;
  width: 100%;
  display: flex;
}

.search__button {
  font-size: 16px;
  padding: 13px 30px;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
}

.template-search__header {
  margin-bottom: 3rem;
}

.template-search__header .page-title {
  padding: 20px 0;
}

.template-search__search .field__label {
  display: none;
}

.template-search__search {
  margin: 0 auto 3.5rem;
}

.template-search__search .search{
  max-width: 887px;
  margin: auto;
}

.template-search--empty {
  padding-bottom: 18rem;
}

.search__button .icon {
  height: 1.8rem;
}
.template-search .card--search  .card__heading,
.template-search .card--search .card__content .card__text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: .02em;
}
@media (min-width: 768px){
  .template-search .card--search  .card__heading,
  .template-search .card--search .card__content .card__text{
    font-size: 18px;
    line-height: 24px;
  }
  .template-search .card--search .card__content .card-article-info{
    margin-top: 5px;
  }
}
@media (min-width: 1025px){
  .caption-with-letter-spacing {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text);
  }  
}